<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/star.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- {% load static %} -->
    {% block body %}{% endblock %}
</body>
{% block script %}{% endblock %}
</html>