form {
    background-color: #ffffff88;
    width: min(100%, 20rem);
    border-radius: var(--rounding);
    border: 1px solid var(--positiveEmotion);
    padding: 1rem;
}
.hero {
    background: url('/static/img/bg.png') no-repeat right bottom;
    background-size: contain;
}