<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'eadmin/css/root.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'eadmin/css/star.css' %}">
    <style>
        form {
            background-color: #ffffff88;
            width: min(100%, 20rem);
            border-radius: var(--rounding);
            border: 1px solid var(--positiveEmotion);
            padding: 1rem;
        }
        .hero {
            background: url("{% static 'eadmin/img/bg.png' %}") no-repeat right bottom;
            background-size: contain;
        }
    </style>
</head>
<body>
    <div class="hero fullScreen isFlex centerOnFlex">
        <form method="post" class="isFlex flexVertical gap1">
            {% csrf_token %}
            <center><h1>Login as Teacher</h1></center>
            <div class="userInput">
                <label for="username">Username</label>
                <input type="text" name="username" class="textField" placeholder=" " required>
            </div>
            <div class="userInput">
                <label for="password">Password</label>
                <input type="password" name="password" class="textField" placeholder=" " required>
            </div>
            <input type="submit" value="Login" class="submitBtn">
        </form>
    </div>
</body>
</html>